.DS_Store
*.aux
*.bbl
*.blg
*.log
*.fdb_latexmk
*.gz
~$*
*.m~
*.swp
*.swo
*.pyc
tags
.#*
projects/sample_script/*results.txt
code/convert_mat_to_xy.pyc
logfile.txt
projects/compare_sad/*0.png
projects/compare_sad/*0.csv
projects/compare_sad/*0.txt
projects/compare_sar/*.png
projects/compare_sar/*.csv
